<div class="header">
    <div class="nav">
      <div class="nav-links">
        <ul>
          <li>  <a routerLink="/vedioGames"> <span class="video shadow"  > VIDEO <span [ngClass]="currentRoute == '/vedioGames' ? 'active' : 'inactive'"   > VIDEO </span > </span>GAMES </a></li>
          <li> <a routerLink="/contact"><span class="contact shadow">CONTACT <span [ngClass]="currentRoute == '/contact' ? 'active' : 'inactive'" >CONTACT</span> </span></a></li>
        </ul>
      </div>
    </div>
  </div>

